services:
  - type: web
    name: mortalidad-colombia-2019
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn src.app:server"

